exportPattern("^[[:alpha:]]+")
import(shiny)
import(shinyjs)
import(shinyalert)
import(shinyBS)
import(shinythemes)
import(shinyWidgets)
import(plotrix)
import(DT)
import(V8)
importFrom("graphics", "plot")
